.el-button-block {
    display: block;
    width: 100%;
}
.el-menu { border-right: none; }

/* 侧栏菜单样式 */
li.el-submenu {
    .el-menu-item { background-color: #2f4357 !important;  }
    &.is-opened .el-submenu__title { background-color: #f56c6c !important; }
}
/* dialog */
.cars-dialog-center {
    .dialog-footer {
        padding: 20px 0;
        text-align: center !important;
    }
}

/* 上传图片 */
.upload-img-wrap {
    display: flex;
    .upload-img {
        position: relative;
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: 148px;
        height: 148px;
        cursor: pointer;
        line-height: 146px;
        vertical-align: top;
        text-align: center;
        &:before{
            content: "+";
            font-size: 50px;
            font-weight: 300;
            color: #ccc;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .img-list {
        flex: 1;
        padding-left: 30px;
        li {
            float: left;
            width: 60px;
            height: 60px;
            margin: 0 10px;
        }
        img { width: 100%; height: 100%; }
    }
}
/* 级联菜单 */
.cascader-input {
    input::-webkit-input-placeholder { color:#606266; }
    input:-moz-placeholder { color:#606266; }
    input::-moz-placeholder { color:#606266; }
    input:-ms-input-placeholder { color:#606266; }
}

/* upload */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px dashed #d9d9d9;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

