@import "./sassConfig.scss";
@import "./elementui.scss";
@import "./normalize.scss";
@import "./svgicon.scss";

// color
.color-white { color: #fff; }

// float
.pull-right { float: right; }

// spacing
.spacing-30 { height: 30px; }

// padding
.padding-top-30 { padding-top: 30px; }
.padding-bottom-25 { padding-bottom: 25px; }

// margin
.margin-bottom-25 { margin-bottom: 25px; }

// width
.width-100 { width: 100px; }
.width-120 { width: 120px; }

// heigt
.min-height-1 { min-height: 1px; }