@import "./sassConfig.scss";
@import "./elementui.scss";
@import "./normalize.scss";
@import "./svgicon.scss";

// float
.pull-right { float: right; }

// spacing
.spacing-30 { height: 30px; }

// padding
.padding-top-30 { padding-top: 30px; }

// width
.width-100 { width: 100px; }
.width-120 { width: 120px; }